@import "../../data/styles.css";

.research-logo-container {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 25px;
	position: fixed; /* 将 logo 容器固定 */
	top: 0; /* 固定在页面顶部 */
	left: 0; /* 固定在页面左侧 */
	width: 150px; /* 设置容器的宽度，确保它不会占用太多空间 */
	height: 100%; /* 使 logo 占满左侧的高度 */
	background-color: white; /* 设置背景颜色，防止内容滚动时的重叠 */
}

.research-main-container {
	display: flex;
	flex-direction: column;
	margin-left: 170px; /* 为内容预留空间，避免被固定的 logo 遮挡 */
	padding-top: 30px; /* 保持顶部填充 */
	height: 100%;
}

.research-container {
	display: flex;
	flex-direction: column;
}

.research-wrapper {
	padding-top: 10px;
	padding-bottom: 20px;
}

.research-title {
	width: 100% !important;
	color: black;
	margin-bottom: 20px;
}

.research-wrapper h3 {
	margin-top: 15px;
	margin-bottom: 10px;
}

@media (max-width: 600px) {
	.research-logo-container {
		position: relative; /* 在移动设备上不再固定，防止布局问题 */
		width: 100%;
		height: auto;
		padding-top: 20px;
	}

	.research-main-container {
		margin-left: 0;
		padding-top: 20px;
	}

	.research-container {
		padding-top: 0;
	}
}
